body {
    font-family: 'Gentium Book Plus', serif;

}

.my-name {
    color: rgba(114, 18, 109, 70%);
}

h1 {
    font-size: 50px;
}

img {
    height: 400px;

}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.first {
    width: 50%;
    padding: 5%;
    margin: 2px 1px;
}

.linkedin {
    color: white;
    /* border: 1.5px solid yellowgreen; */
    padding: 3px 10px 7px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 10px;
    font-weight: 900;

}

.top-banner {
    background-image: url(bg-pics.jpeg);
    background-repeat: no-repeat;
    margin: 0;
}

.dream-big {
    background-image: url(circle.jpeg);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: right;
    text-align: justify;
}

.db1 {
    padding-top: 0;
}

.exp .skill {
    display: flex;
    padding: 2%;
    margin: 2%;
}

.skill p {
    text-align: justify;
}